<!DOCTYPE html>
<html>
<head>
	<title>Project</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/lib/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/lib/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="/css/lib/bootstrap-social.css">
	<link rel="stylesheet" type="text/css" href="/css/lib/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="/css/lib/index.css">    
	<script src="/js/lib/jquery-1.9.1.js"></script>
    <script src="/js/lib/jquery-ui.js"></script>
	<script type="text/javascript" src="/js/lib/bootstrap.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/js/lib/angular/angular-route.js"></script>
	<script type="text/javascript" src="/js/modules/modules.js"></script>
	<script type="text/javascript" src="/js/factories/factories.js"></script>
	<script type="text/javascript" src="/js/controllers/controllers.js"></script>
	<script type="text/javascript" src="/js/directives/directives.js"></script>
	<script type="text/javascript" src="/js/services/services.js"></script>
	<script type="text/javascript" src="/js/partialRoutes.js"></script>
	<script type="text/javascript" src="/js/sockets.js"></script>
</head>
<body>
 	<div ng-app="app" class="container" ng-controller="DashboardController as dash">
 		<div class="row">
 			<div class="col-xs-12">
		 		<nav class="navbar navbar-inverse">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="#/">Projects </a>
						</div>
						<div class="collapse navbar-collapse" id="myNavbar">
							<ul class="nav navbar-nav">
<li class="active">
	<a href="#/">Projects</a>
</li>
<li>
	<a href="#/forums">Forums</a>
</li>
							</ul>
							<ul class="nav navbar-nav navbar-right" ng-hide="dash.loggedIn">
								
								<li class="dropdown">
						          <a href="" id="singup" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown"></span></span> Sign Up <span class="caret"></span></a>
									<ul id="login-dp" class="dropdown-menu">
										<li>
<div class="row">
	<div class="col-md-12">
		<h3>Sign Up</h3>
		 <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
			<div class="form-group">
				 <label class="sr-only" for="exampleInputEmail2">First Name</label>
				 <input type="first_name" ng-model="newUser.first_name" class="form-control" id="exampleInputfirst_name2" placeholder="First Name" required>
			</div>
			<div class="form-group">
				 <label class="sr-only" for="exampleInputEmail2">Last Name</label>
				 <input type="last_name" ng-model="newUser.last_name" class="form-control" id="exampleInputlast_name2" placeholder="Last Name" required>
			</div>
			<div class="form-group">
				 <label class="sr-only" for="exampleInputEmail2">Email address</label>
				 <input type="email" ng-model="newUser.email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
			</div>
			<div class="form-group">
				 <label class="sr-only" for="exampleInputPassword2">Password</label>
				 <input type="password" ng-model="newUser.password"class="form-control" id="exampleInputPassword2" placeholder="Password" required>
			</div>
			<div class="form-group">
				 <label class="sr-only" for="exampleInputPasswordConfirmation2">Password Confirmation</label>
				 <input type="password" ng-model="newUser.password_confirmation" class="form-control" id="exampleInputPasswordConfirmation2" placeholder="Password Confirmation" required>
			</div>
			<div class="checkbox">
				 <label>
				 <input type="checkbox"> Login after registration.
				 </label>
			</div>
			<div class="form-group">
				 <button ng-type="submit" ng-click="register(newUser)" class="btn btn-primary btn-block">Register</button>
			</div>
		 </form>
	</div>
	<div class="bottom text-center">
		Already registered? <a href="#"><b>Login</b></a>
	</div>
</div>
										</li>
									</ul>
						        </li>
						        <li class="dropdown">
						          <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in btn btn-info btn-xs dropdown-toggle"></span> Login <span class="caret"></span></a>
									<ul id="login-dp" class="dropdown-menu">
										<li>
<div class="row">
	<div class="col-md-12">
		<div ng-hide="dash.loginTimeout">
			<a class="btn btn-block btn-social btn-facebook">
				<i class="fa fa-facebook"></i> Sign in with Facebook
			</a>
			<a class="btn btn-block btn-social btn-twitter">
				<i class="fa fa-twitter"></i> Sign in with Twitter
			</a>
			<a class="btn btn-block btn-social btn-instagram">
				<i class="fa fa-instagram"></i> Sign in with Instagram
			</a>
			<a class="btn btn-block btn-social btn-reddit">
				<i class="fa fa-reddit"></i> Sign in with Reddit
			</a>
		</div>
		<h3>Login</h3>
		<p ng-bind="errors"></p>
		<form class="form" role="form" accept-charset="UTF-8" id="login-nav" ng-hide="dash.loginTimeout">
			<div class="form-group">
				 <label class="sr-only" for="exampleInputEmail2">Email address</label>
				 <input type="email" ng-model="user.email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
			</div>
			<div class="form-group">
				 <label class="sr-only" for="exampleInputPassword2">Password</label>
				 <input type="password" ng-model="user.password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
			     <div class="help-block text-right"><a href="">Forget the password ?</a></div>
			</div>
			<div class="checkbox">
				 <label>
				 	<input type="checkbox" ng-model="user.keep_me_logged_in"> keep me logged-in.
				 </label>
			</div>
			<div class="form-group">
				 <button ng-type="submit" ng-click="dash.login(user)" class="btn btn-primary btn-block">Login</button>
			</div>
		</form>
	</div>
	<div class="bottom text-center">
		New here ? <a href="#"><b>Join Us</b></a>
	</div>
</div>
										</li>
									</ul>
						        </li>
						      </ul>
							<ul class="nav navbar-nav navbar-right" ng-show="dash.loggedIn">

							</ul>
						</div>
					</div>
				</nav>
 			</div>
 		</div>
		<div ng-view></div>
    </div>
</body>
</html>